# TODO these should be on PyPI
openupgradelib @ git+https://github.com/OCA/openupgradelib.git
locomotivecms @ git+https://github.com/akretion/locomotivecms-python-client.git
# test requirements
requests_mock
vcrpy
vcrpy-unittest
unittest2 # For shopinvader test_controller, which inherits component
odoo-test-helper

odoo14-addon-account_invoice_base_invoicing_mode @git+https://github.com/OCA/account-invoicing@refs/pull/844/head#subdirectory=setup/account_invoice_base_invoicing_mode
